@font-face {
    font-family: 'FontAwesome';
    src: url('../font/fontawesome.ttf');
}


.icon-button {
    -fx-font-family: 'FontAwesome';
    -fx-text-alignment: center;
    -fx-padding: 0.25em;
    -fx-text-fill: #5a5a5a;
}

.tool-bar.plain {
    -fx-background-color: transparent;
    -fx-padding: 0;
}
